NODE_ENV= #local

# Nest CORS - URL
ALLOWED_ORIGINS=

# AWS 환경 - production
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# NestJS - DB configs
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST= # YOUR_DATABASE_URI, example: database(docker-service-name)


# API KEY - API KEY를 넣어주세요.
API_KEY= # BLABLA

# JWT KEY - JWT KEY와 만료시간을 넣어주세요.
JWT_SECRET= # feed-me-baby
JWT_EXPIRES_IN= # 30m